# Default ignored files
/../../Week 1 /.idea/shelf/
/../../Week 1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Week 1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Week 1 /.idea/dataSources/
/../../Week 1 /.idea/dataSources.local.xml
